<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en" ng-app="commvs">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="jumbotron">
            <h1>Commvs is great</h1>
            <p>Welcome to templating Commvs</p>
        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

</body>
</html>
